<figure class="stamp stamp@m stamp@l stamp@xl grid-whole@xs grid-half@s grid-third@m grid-quarter@l grid-quarter@xl">
    <div class="stamp-date stamp--topright">
        <svg viewbox="0 0 100 100">
            <path d="M 0,50 a 32, 30 0 1, 1 0,1 z" id="stamp-ams"/>
            <text>
                <textpath href="#stamp-tor" aria-label="Amsterdam, Netherlands">
                    Amsterdam, Netherlands
                </textpath>
            </text>
        </svg>
    </div>
    <div class="calendar-item grid-whole@xs grid-half@s grid-third@m grid-quarter@l grid-quarter@xl">
        <p class="t-black details t-typeweight t-babyfont">November 2019</p>
        <p>
            <a href="https://perfnow.nl/" rel="noreferrer noopener" class="t-black t-link-accent-black t-titlingfont t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-height-tight">perf.now()</a>
        </p>
        <p>
            <a class="details t-link-accent-blue" href="https://slides.com/tatianamac/how-privilege-defines-performance/fullscreen/" rel="noopener noreferrer">Slides</a>
        </p>
    </div>
</figure>