<footer id="contact" class="container">
    <div class="wrapper">
    
        <div class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
            <h2 class="t-eyebrow t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-white">Contact</h2>
        </div>
        <ul class="linklist grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
            {% set navigationItems = navigation.footer %}
            {% for item in navigationItems %}
            {% set externalAttribute = '' %}

            {% if item.external %}
            {% set externalAttribute = ' rel="external"' %}
            {% endif %}
            <li>
                <a class="t-link-accent-green t-white t-chonkfont@xl t-chonkfont@l t-thiccfont@m t-normiefont@s t-normiefont@xs t-thinnfont@xxs t-serifweight t-height-tight" href="{{ item.url }}">{{ item.text }}</a>
            </li>
            {% endfor %}
        </ul>

        </div>
        <div class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
            <p class="t-white t-mini">Copyright 2020 &copy; Tatiana Mac. Built with HTML &amp; CSS with Sass and sass atop <a href="https://www.11ty.io" class="t-link-accent-green t-white">Eleventy</a>. Read my <a class="t-link-accent-green t-white" href="../release-notes">release notes</a>. Subscribe to my <a class="t-link-accent-green t-white" href=" {{ '/feed/feed.xml' | url }}">RSS feed</a></p>
        </div>
    </div>
</footer>
