<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="preload" href="{{ '/assets/fonts/domaine-text-web-light.woff' | url }}" as="font" type="font/woff" crossorigin>
    <link rel="preload" href="/assets/fonts/calibre-web-regular.woff" as="font" type="font/woff" crossorigin>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" media="print" onload="this.media='all'">
    {# <noscript>
        <link rel="stylesheet" href="{{ '/css/main.css' | url }}">
    </noscript>      #}

    {# <style type="text/css">
        @font-face {
        font-family: 'calibre-web-regular';
        font-display: swap;
        src: local("calibre-web-regular"), url("../assets/fonts/calibre-web-regular.woff2") format("woff2"), url("../assets/fonts/calibre-web-regular.woff") format("woff"); }
        
        @font-face {
        font-family: 'freigdisproboo';
        font-display: swap;
        src: local("freigdisproboo"), url("../assets/fonts/freigdisproboo-webfont.woff2") format("woff2"), url("../assets/fonts/freigdisproboo-webfont.woff") format("woff"); }


        .light {
            color: #f1f1f1; }

        .main-navigation {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;}



        body {
            font-family: "calibre-web-regular", Helvetica, sans-serif;
            font-size: calc(24px + .05vw);
            line-height: 1.75;
            margin: 0;
            padding: 0;}


                ul.linklist {
            list-style: none outside;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between; }
            ul.linklist li {
                margin: 0 2rem 0 0; }

  .t-serifweight {
    font-family: "freigdisproboo", Georgia, "Times New Roman", serif;
    font-weight: 300;
    font-display: swap; }

  #skip a {
    display: block;
    position: absolute;
    z-index: 9999;
    left: 1em;
    top: 1em;
    transform: translateY(calc(-100% - 1em));
    padding: 1em;
    color: #ffffff;
    text-decoration: none;
    background: #222222;
    border: 1px #FF0DD1; }
  
  #skip a:focus {
    transform: translateY(0);
    transition: all .2s ease-in-out; }
  
  .site-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: .75em 0 .25em 0;
    width: 100%; }

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 1;
  transition: opacity 200ms ease-out; }
  .nav-item li {
    text-align: center;
    margin: .35rem auto; }
  .nav-item a {
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
    text-decoration: none;
    transition: all .2s ease-in;
    text-decoration: none;
    font-size: .85rem;
    padding: .3rem 0; }
    .nav-item a:hover {
      border-bottom: 1px solid #FF0DD1;
      transition: all .2s ease-in; }

.logo {
  fill: #FF0DD1;
  display: block;
  margin: 1em 2em 0 0;
  min-width: 40px;
  max-width: 50px; }
  .logo a {
    border-bottom: none; }
    @media screen and (min-width: 200px) and (max-width: 599px) {
      .grid-whole\@xs {
        grid-column: span 12; } }

        @media screen and (min-width: 600px) and (max-width: 1023px) {
          .grid-half\@s {
            grid-column: span 6; } }

            @media screen and (min-width: 1024px) and (max-width: 1439px) {
              .grid-twothirds\@m {
                grid-column: span 8; } }
                @media screen and (min-width: 1440px) and (max-width: 3000px) {
                  .grid-twothirds\@l {
                    grid-column: span 8; } }
                    @media screen and (min-width: 1920px) {
                      .grid-twothirds\@xl {
                        grid-column: span 8; } }
                        ul.linklist {
                          list-style: none outside;
                          padding: 0;
                          display: flex;
                          flex-direction: row;
                          flex-wrap: wrap;
                          justify-content: space-between; }
                          ul.linklist li {
                            margin: 0 2rem 0 0; }
.container {
    max-width: 3000px;
    /* 1 */
    margin: 0 auto;
    /* 2 */
    width: 100%;
    /* 1 */ }
    @media screen and (min-width: 200px) and (max-width: 599px) {
      .container {
        padding: 1em; } }
    @media screen and (min-width: 600px) and (max-width: 1023px) {
      .container {
        padding: 1.5em; } }
    @media screen and (min-width: 1024px) and (max-width: 1439px) {
      .container {
        padding: 2.25em; } }
    @media screen and (min-width: 1440px) and (max-width: 3000px) {
      .container {
        padding: 2.25em; } }
    @media screen and (min-width: 1920px) {
      .container {
        padding: 2.25em; } }
        
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vh; }

        .clearspace {
            margin: 0;
            padding: 0; }
          
            .zigzag-blue-yellow {
                height: 5em;
                background: linear-gradient(45deg, transparent 50%, #0e4bff 50%), linear-gradient(90deg, transparent 50%, #FFD926 50%), linear-gradient(135deg, #0e4bff 50%, #cbab00 50%), 0 50%;
                background-repeat: repeat-x;
                background-size: 5em 5em, 5em 5em; }
              
              .zigzag-yellow-white {
                height: 5em;
                background: linear-gradient(-45deg, transparent 74%, #cbab00 75%), linear-gradient(45deg, transparent 74%, #FFD926 75%) 0 50%;
                background-repeat: repeat-x;
                background-size: 5em 5em, 5em 5em; }

                @media screen and (min-width: 600px) and (max-width: 1023px) {
                    .grid-whole\@xs {
                      grid-column: span 12; } }

               @media screen and (min-width: 600px) and (max-width: 1023px) {
  .grid-half\@s {
    grid-column: span 6; } } 

    @media screen and (min-width: 1024px) and (max-width: 1439px) {
        .grid-half\@m {
          grid-column: span 6; } }

          @media screen and (min-width: 1440px) and (max-width: 3000px) {
            .grid-half\@l {
              grid-column: span 6; } }

              @media screen and (min-width: 1920px) {
                .grid-half\@xl {
                  grid-column: span 6; } }

                  .bg-primary {
                    background: #0e4bff; }
                    .padding-btm-none {
                        padding-bottom: 0; }

                        @keyframes floating {
  from {
    transform: translate(0, 0px); }
  50% {
    transform: translate(0, -30px); }
  to {
    transform: translate(0, 0px); } }
.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out; }
padding-thinn {
  padding: 1em; }

@media screen and (min-width: 200px) and (max-width: 599px) {
  .padding-thinn\@xs {
    padding: 1em; } }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .padding-thinn\@s {
    padding: 1em; } }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .padding-thinn\@m {
    padding: 1em; } }

@media screen and (min-width: 1440px) and (max-width: 3000px) {
  .padding-thinn\@l {
    padding: 1em; } }

@media screen and (min-width: 1920px) {
  .padding-thinn\@xl {
    padding: 1em; } }

.t-white {
    color: #ffffff; }
    .t-height-tight {
        line-height: 1.1; }

    .t-typeweight {
        font-family: Courier, monospace;
        font-display: swap; }

@media screen and (min-width: 200px) and (max-width: 599px) {
  .t-thiccfont\@xs {
    font-size: 2.25em; } }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .t-thiccfont\@s {
    font-size: 2.25em; } }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .t-thiccfont\@m {
    font-size: 2.25em; } }

@media screen and (min-width: 1440px) and (max-width: 3000px) {
  .t-thiccfont\@l {
    font-size: 2.25em; } }

@media screen and (min-width: 1440px) and (max-width: 3000px) {
  .t-thiccfont\@xl {
    font-size: 2.25em; } }

        @media screen and (min-width: 200px) and (max-width: 599px) {
            .t-thinnfont\@xs {
              font-size: 1em; } }
          
          @media screen and (min-width: 600px) and (max-width: 1023px) {
            .t-thinnfont\@s {
              font-size: 1em; } }
          
          @media screen and (min-width: 1024px) and (max-width: 1439px) {
            .t-thinnfont\@m {
              font-size: 1em; } }
          
          @media screen and (min-width: 1440px) and (max-width: 3000px) {
            .t-thinnfont\@l {
              font-size: 1em; } }
          
          @media screen and (min-width: 1920px) {
            .t-thinnfont\@xl {
              font-size: 1em; } }}


@media screen and (min-width: 200px) and (max-width: 599px) {
  .padding-thicc\@xs {
    padding: 2.25em; } }

@media screen and (min-width: 600px) and (max-width: 1023px) {
  .padding-thicc\@s {
    padding: 2.25em; } }

@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .padding-thicc\@m {
    padding: 2.25em; } }

@media screen and (min-width: 1440px) and (max-width: 3000px) {
  .padding-thicc\@l {
    padding: 2.25em; } }

@media screen and (min-width: 1920px) {
  .padding-thicc\@xl {
    padding: 2.25em; } } #}
    </style>
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
  </head>