<header class="site-header wrapper">
    <div class="logo">
    <a href="{{ '/' | url }}">
        <svg version="1.1" id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 117 114">
        <title>Floating hands</title>
        <desc>Geometric logo with two parallel lines on top and bottom, then a backwards 11 in the middle.</desc>
            <path d="M0 0h117v10H0zM1 104h117v10H1zM28 20v75h9V41l27 22V50zM80 20v75h10V41l26 22V50z"/>
        </svg>

    </a>
    </div>
    <nav>
        <ul class="linklist">
            {% set navigationItems = navigation.header %}
            {% for item in navigationItems %}
            {% set externalAttribute = '' %}

            {% if item.external %}
            {% set externalAttribute = ' rel="external"' %}
            {% endif %}

            <li class="nav-item{% if nav.url == page.url %} nav-item-active{% endif %}">
            <a {% if colorMode %} class="{{ colorMode }}{% endif %} {% if item.external %}right-arrow{% endif %}" href="{{ item.url }}" {{ externalAttribute | safe }}>
                {{ item.text }}
            </a>
            </li>
            {% endfor %}
        </ul>
    </nav>
</header>