<section id="writing" class="container">
  <div class="wrapper">
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <h2 class="t-eyebrow t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-black">Selected Writings</h2>
          <h3 class="t-thiccfont@xs t-thiccfont@s t-chonkfont@m t-chonkfont@l t-chonkfont@xl t-height-tight t-serifweight t-black t-height-tight">Bah-hum-blog.</h3>

        <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <img src="../assets/img/spilled-glasses.svg" alt="Spilled glasses in neon green puddle.">
      </div>

      </div>

{% for post in collections.posts | reverse %}
    <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
      <p class="t-serifweight t-height-cozy t-black t-height-medium t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
      {{ post.data.summary }}
      </p>
      <p><a class="t-link-accent-blue" href="/posts/friends/"  rel="noopener noreferrer">{{ post.data.title }}</a></p>
    </div> 
    {% endfor %}
{# 
TO DO: Add summary for external post

      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
    
          <p class="t-serifweight t-height-cozy t-black t-height-medium t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
              The question to answer isn't, &ldquo;Have I made a place where people have the freedom to express themselves?&rdquo; Instead we have to ask, &ldquo;Have I made a place where everyone has the safety to exist?&rdquo;
          </p>
          <p><a class="t-link-accent-blue" href="https://alistapart.com/article/canary-in-a-coal-mine-how-tech-provides-platforms-for-hate"  rel="noopener noreferrer">Canary in a Coal Mine: How Tech Provides Platforms for Hate</a></p>
      </div>
      </div>
      #}
</section>