---
layout: layouts/base.njk
navtitle: Writing
tags:
- nav
permalink: /writing/
navClass: bg-blushpink
bgColor: blushpink
colorMode: dark
---
<section id="writing" class="container">
  <div class="wrapper">
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl span-row-two@m span-row-two@l span-row-two@xl padding-thinn">
          <h2 class="t-eyebrow t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-black">Selected Writings</h2>
          <h3 class="t-thiccfont@xs t-thiccfont@s t-chonkfont@m t-chonkfont@l t-chonkfont@xl t-height-tight t-serifweight t-black t-height-tight">Bah-hum-blog.</h3>
      </div>
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <p class="t-serifweight t-height-cozy t-black t-height-medium t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
              The question to answer isn't, &ldquo;Have I made a place where people have the freedom to express themselves?&rdquo; Instead we have to ask, &ldquo;Have I made a place where everyone has the safety to exist?&rdquo;
          </p>
          <p><a class="t-link-accent-pink" href="https://alistapart.com/article/canary-in-a-coal-mine-how-tech-provides-platforms-for-hate"  rel="noopener noreferrer">Canary in a coal mine: How tech provides platforms for hate</a></p>
      </div>
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <p class="t-serifweight t-height-cozy t-black t-height-medium t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
              I think we can forget what we are capable of and what we deserve when we’re sad. We end up dodging failure instead of reaching for radical success.
          </p>
          <p><a class="t-link-accent-pink" href="https://medium.com/@tatianatmac/trust-the-process-how-to-present-your-best-when-youre-at-your-worst-166dad8cc4"  rel="noopener noreferrer">TRUST the Process: How to present your best, when you’re at your worst</a></p>
      </div>
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <p class="t-serifweight t-height-cozy t-black t-height-medium t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
              But what if we were more okay accepting imperfect, in-progress, new things? Perhaps imposter syndrome would be less pervasive and there’d be less shame.
          </p>
          <p><a class="t-link-accent-pink" href="https://medium.com/@tatianatmac/why-we-need-more-beginners-teaching-7b8982eb6a4e"  rel="noopener noreferrer">Why we need more beginners teaching</a></p>
      </div>
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <p class="t-serifweight t-height-cozy t-black t-height-medium t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
              True vulnerability is a powerful tool for developing trust. It represents strength and security in who you are and what you bring to your work.
          </p>
          <p><a class="t-link-accent-pink" href="https://medium.com/@tatianatmac/creative-leadership-you-lead-like-a-girl-defying-the-patriarchy-with-feminist-leadership-e5845e966967"  rel="noopener noreferrer">You lead like a girl: Defying the patriarchy with feminist leadership</a></p>
      </div>
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <p class="t-serifweight t-height-cozy t-black t-slimmfont@xs t-slimmfont@s t-slimmfont@m t-slimmfont@l t-slimmfont@xl">
              Perpetual motion is good, but not if it's directionless. Methodical decision-making is also good, but not if it means stagnation. We are told to dream big, but rarely are we told to do small.
          </p>
          <p><a class="t-link-accent-pink" href="https://medium.com/@tatianatmac/progress-over-perfection-something-now-over-everything-never-8af7608ba6c4"  rel="noopener noreferrer">Progress over perfection: Something now over everything never</a></p>
      </div>
      <div class="grid-whole@xs grid-half@s grid-quarter@m grid-quarter@l grid-quarter@xl padding-thinn">
          <img src="../img/spilled-glasses.svg" alt="Spilled glasses in neon green puddle.">
      </div>
  </div>
</section>

        {# {% set postslist = collections.posts %}
{% include "postslist.njk" %} #}
