---
title: international keynote speaker
description: Tech talks on ethics, accessibility, engineering and design. A speaker rider to create a more equitable speaking landscape. Postcards from my international speaking tours.
layout: layouts/base.njk
tags:
 - nav
navtitle: Speaking
templateClass: content
navClass: bg-true-black
bgColor: true-black
colorMode: light
data: events
canonical: https://www.tatianamac.com/speaking
---
<div class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
  <!-- TODO: Serve this image in next-gen formats -->
  <img src="../assets/img/tedx-tatiana.jpg" alt="Tatiana Mac, smiling, cross-legged, standing in black suit on a TEDxPortland stage with giant words from Self-Defined app projected behind them"/>
</div>

<section id="speaking" class="container">
    <div class="wrapper">
      <div class="grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl padding-thinn">
          <h1 class="t-eyebrow t-milquetoast">Speaking</h1>
          <p class="t-thiccfont@xs t-thiccfont@s t-ultrachonkfont@m t-ultrachonkfont@l t-ultrachonkfont@xl t-height-tight
          t-serifweight t-white t-height-tight t-space-strip mb-teeny">That's what they said.</p>

          <p class="callout t-normiefont@s t-normiefont@m t-normiefont@l t-normiefont@xl t-light-grey">International keynote speaker and TEDx alumnus using the stage to explore the intersection between tech and ethics and to bring narratives to the web with accessible, performant design systems</p>

          <p class="t-mono t-pistachio-green">Currently booking conferences and private speaking events for 2023 and beyond: Review <a class="t-link-accent-green t-height-tight" href="https://gist.github.com/tatianamac/493ca668ee7f7c07a5b282f6d9132552" rel="noopener noreferrer">speaker rider</a> and <a class="t-link-accent-green t-height-tight" href="mailto:speaking@tatianamac.com">email me</a> with details</p>
        </div>
      </div>
</section>

<section class="container">
  <div class="wrapper">
    <h2 class="grid-whole@s grid-whole@m grid-whole@l t-eyebrow t-milquetoast">Featured Videos</h2>
    <div class="vid-grid t-white">
      <div class="row">
        <div>
          <h3 class="t-sansserif title t-chonkfont@s t-chonkfont@m t-chonkfont@l ">Systems of Systems</h3>
          <p class="t-white t-mono t-babyfont">Design systems create an umbrella to define the future of our design work, but they are not the biggest umbrella. Design systems exist under broader social, political, and infrastructural systems that affect the parameters, limitations, and variables of our systems. We'll examine the challenges inherit, lean into the good, resist the bad, and serve as many humans we can  equitably, ethically, and safely.</p>
          <span class="t-light-grey"><time class="t-mono">2019</time> &middot; Clarity Conference, San Francisco, USA</span>
        </div>
      
        <iframe class="video" src="https://www.youtube-nocookie.com/embed/TzGfBV67Tac" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
      
      <div class="row row-reverse">
        <div class="reverse-order">
          <h3 class="t-sansserif title t-chonkfont@s t-chonkfont@m t-chonkfont@l ">Our Banal Binary</h3>
          <p class="t-white t-mono t-babyfont">Binary code is the axiomatic core of computing. From ones and zeros, we built magnificent inventions that visualised black holes and cup-winning football goals.

          Our reliance on the binary has a cost.  The binary that gifted us could also become the most monolithic harbinger to developing nuanced solutions for social change and innovation.
            
            We will fracture the spokes of this axiomatic wheel, exploring a new model that encourages a more intersectional and inclusive way to build for all.</p>
          <span class="t-light-grey"><time class="t-mono">2020</time> &middot; New Adventures, Nottingham, UK</span>
        </div>
          <iframe class="video" src="https://www.youtube-nocookie.com/embed/s3C88R-WIro" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

          
        </div>

        <div class="row">
          <div>
            <h3 class="t-sansserif title t-chonkfont@s t-chonkfont@m t-chonkfont@l t-height-tight">Words don't  define&nbsp;us</h3>
            <p class="t-white t-mono t-babyfont">We define our words, but they don't define us. Simply put, words and phrases can be weaponized and be hurtful, for example: spirit animal; blacklist; redline; junkie; lame; OCD; circle the wagons. This talk explores Self-Defined, a modern dictionary about us. With the foundation of vocabulary, we can begin to understand lived experiences of people different from us, gain a sense of identity, and find kinship.</p>
            <span class="t-light-grey"><time class="t-mono">2022</time> &middot; TEDxPortland, Portland, USA</span>
          </div>
        
         <iframe class="video" src="https://www.youtube-nocookie.com/embed/ASbaDBKz5pE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
     
        
        <!-- <div class="grid-whole@xs grid-whole@s grid-half@m grid-half@l grid-third@xl padding-thinn">
            <picture>
                <img class="selfportrait-pink" src="../assets/img/tmac-headshot.jpg" alt="Me looking over my shoulder">
            </picture>
        </div> -->
      </div>
    </div>
    </section>
   
    <section class="container">
      <div class="wrapper">
        {% for post in collections.event | reverse %}
            <figure class="stamp stamp{% if post.data.eventStampRot %}--{{ post.data.eventStampRot }}@m stamp--{{ post.data.eventStampRot }}@l stamp--{{ post.data.eventStampRot }}@xl {% endif %}stamp stamp@m stamp@l stamp@xl grid-whole@xs grid-half@s grid-third@m grid-quarter@l grid-quarter@xl">
                <div class="stamp-date {% if post.data.eventStampLoc %} stamp--{{ post.data.eventStampLoc }}{% endif %}">
                    <svg viewbox="0 0 100 100">
                        <path d="M 0,50 a 32, 30 0 1, 1 0,1 z" id="stamp-{{ post.data.eventCityAbbr }}"/>
                        <text>
                            <textpath href="#stamp-{{ post.data.eventCityAbbr }}" aria-label="{{ post.data.eventCityName }}">
                                {{ post.data.eventCityName }}
                            </textpath>
                        </text>
                    </svg>
                </div>
                <div class="calendar-item grid-whole@xs grid-half@s grid-third@m grid-quarter@l grid-quarter@xl">
                    <p class="t-white details t-typeweight t-babyfont">{{ post.data.eventMonthYear }}</p>
                    <p>
                        <a href="{{ post.data.eventURL }}" rel="noreferrer noopener" class="t-light-grey t-link-accent-black t-titlingfont t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-height-tight">{{ post.data.eventName }}</a>
                    </p>
                    <p>
                        {% if post.data.eventSlidesURL %}
                            <a class="details t-link-accent-pink" href="{{ post.data.eventSlidesURL }}" rel="noopener noreferrer">Slides</a>
                        {% endif %}
                        {% if post.data.eventVideoURL %}
                            ·
                            <a class="details t-link-accent-pink" href="{{ post.data.eventVideoURL }}" rel="noopener noreferrer">Video</a>
                        {% endif %}
                        {% if post.data.eventKeynote %}🗝🎵{% endif %}
                    </p>

                </div>
            </figure>
        {% endfor %}
        <svg class="visually-hidden">
            <filter id="coloring-pink" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
                <fecolormatrix type="matrix" values="0.8 0.5 0.4 0.1 0
              0.4 0.2 0 0 0
              0.2 0.3 1 1 0
              1 0 0 0.2 0.7"/>
            </filter>
            <filter id="coloring-yellow" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
                <fecolormatrix type="matrix" values="0.5 0.3 0 0 0.05
              0.4 1 1 0.5 0.85
              0.5 .4 1 0 0.15
              0.5 0 0 1 0"/>
            </filter>
        </svg>
  </div>
  </section>
  