<footer id="contact" class="container">
    <div class="wrapper">
        <div class=" grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
            <h2 class="t-eyebrow t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-white">Contact</h2>
        </div>
        <div class="grid-half@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl">
            <a class="t-link-accent-green t-white t-chonkfont@xl t-chonkfont@l t-thiccfont@m t-normiefont@s t-normiefont@xs t-thinnfont@xxs t-serifweight t-height-tight" href="mailto:inquiry@tatianamac.com">Email</a>
        </div>
        <div class="grid-half@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl">
            <a class="t-link-accent-green t-white t-chonkfont@xl t-chonkfont@l t-thiccfont@m t-normiefont@s t-normiefont@xs t-thinnfont@xxs t-serifweight t-height-tight" href="https://www.twitter.com/tatianatmac/"  rel="noopener noreferrer">Twitter</a>
        </div>
<div class="grid-half@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl">
            <a class="t-link-accent-green t-white t-chonkfont@xl t-chonkfont@l t-thiccfont@m t-normiefont@s t-normiefont@xs t-thinnfont@xxs t-serifweight t-height-tight" href="https://codepen.io/tatianamac/"  rel="noopener noreferrer">Codepen</a>
        </div>

        <div class="grid-half@xs grid-quarter@s grid-quarter@m grid-quarter@l grid-quarter@xl">
            <a class="t-link-accent-green t-white t-chonkfont@xl t-chonkfont@l t-thiccfont@m t-normiefont@s t-normiefont@xs t-thinnfont@xxs t-serifweight t-height-tight" href="https://www.dribbble.com/tatianatmac/"  rel="noopener noreferrer">Dribbble</a>
        </div>
        <div class="grid-whole@xs grid-whole@s grid-whole@m grid-whole@l grid-whole@xl">
            <p class="t-white t-mini">Copyright 2019 &copy; Tatiana Mac. Built with HTML &amp; CSS with SASS and sass. Read my <a class="t-link-accent-green t-white" href="../release-notes">release notes</a>. Subscribe to my <a class="t-link-accent-green t-white" href="../feed/feed.xml">RSS feed</a></p>
        </div>
    </div>
</footer>
