@font-face {
    font-family: 'domaine-text-test-light';
    font-display: swap;
    src: local('domaine-text-test-light'), url('../assets/fonts/domaine-text-test-light.woff2') format('woff2'),
         url('../assets/fonts/domaine-text-test-light.woff') format('woff');
}

@font-face {
    font-family: 'calibre-web-regular';
    font-display: swap;
    src: local('calibre-web-regular'), url('../assets/fonts/calibre-web-regular.woff2') format('woff2'),
         url('../assets/fonts/calibre-web-regular.woff') format('woff');
}

@font-face {
    font-family: 'calibre-web-bold';
    font-display: swap;
    src: local('calibre-web-bold'), url('../assets/fonts/calibre-web-bold.woff2') format('woff2'),
         url('../assets/fonts/calibre-web-bold.woff') format('woff');
}

@font-face {
    font-family: 'founders-grotesk-condensed-test-bold';
    font-display: swap;
    src: local('founders-grotesk-condensed-test-bold'), url('../assets/fonts/founders-grotesk-condensed-test-bold.woff2') format('woff2'),
         url('../assets/fonts/founders-grotesk-condensed-test-bold.woff') format('woff');
}

