// REUSABLES

.uppercase {
  text-transform: uppercase;
}

.bold {
    font-weight: $bold;
  }
  
.t-tag {
  border: 1px solid black;
  border-radius: 2em;
  color: black;
  font-size: .75em;
  padding: .5em 1em;
  text-decoration: none;
  transition: all .4s ease-in-out;
  &:hover {
    background: black;
    color: white;
  }
}

.t-mini {
  font-size: .75em;
}

.t-jumbo {
  font-size: 5em;
}

.t-extrajumbo {
  font-size: 10em;
  padding: 0;
}

.t-center {
  text-align: center;
}

.t-serifweight {
  @include serifweight;
  font-display: swap;
}

.t-typeweight {
  @include typewriter;
  font-display: swap;
}

.t-height-none {
  line-height: $t-height-none;
}

.t-height-dense {
  line-height: $t-height-dense;
}

.t-height-tight {
  line-height: $t-height-tight;
}

.t-height-cozy {
  line-height: $t-height-cozy;
}

.t-height-loose {
  line-height: $t-height-loose;
}

.t-ultrachonkfont\@xs {
  @include screen-xs {
    @include ultrachonkfont;
  }
}

.t-ultrachonkfont\@s {
  @include screen-s {
    @include ultrachonkfont;
  }
}

.t-ultrachonkfont\@m {
  @include screen-m {
    @include ultrachonkfont;
  }
}

.t-ultrachonkfont\@l {
  @include screen-l {
    @include ultrachonkfont;
  }
}

.t-ultrachonkfont\@xl {
  @include screen-l {
    @include ultrachonkfont;
  }
}

.t-chonkfont\@xs {
  @include screen-xs {
    @include chonkfont;
  }
}

.t-chonkfont\@s {
  @include screen-s {
    @include chonkfont;
  }
}

.t-chonkfont\@m {
  @include screen-m {
    @include chonkfont;
  }
}

.t-chonkfont\@l {
  @include screen-l {
    @include chonkfont;
  }
}

.t-chonkfont\@xl {
  @include screen-l {
    @include chonkfont;
  }
}

.t-thiccfont\@xs {
  @include screen-xs {
    @include thiccfont;
  }
}

.t-thiccfont\@s {
  @include screen-s {
    @include thiccfont;
  }
}

.t-thiccfont\@m {
  @include screen-m {
    @include thiccfont;
  }
}

.t-thiccfont\@l {
  @include screen-l {
    @include thiccfont;
  }
}

.t-thiccfont\@xl {
  @include screen-l {
    @include thiccfont;
  }
}

.t-fullfont\@xs {
  @include screen-xs {
    @include fullfont;
  }
}

.t-fullfont\@s {
  @include screen-s {
    @include fullfont;
  }
}

.t-fullfont\@m {
  @include screen-m {
    @include fullfont;
  }
}

.t-fullfont\@l {
  @include screen-l {
    @include fullfont;
  }
}

.t-fullfont\@xl {
  @include screen-l {
    @include fullfont;
  }
}

.t-normiefont\@xs {
  @include screen-xs {
    @include normiefont;
  }
}

.t-normiefont\@s {
  @include screen-s {
  @include normiefont;
  }
}

.t-normiefont\@m {
  @include screen-m {
  @include normiefont;
  }
}

.t-normiefont\@l {
  @include screen-l {
  @include normiefont;
  }
}

.t-normiefont\@xl {
  @include screen-xl {
  @include normiefont;
  }
}

.t-slimmfont\@xs {
  @include screen-xs {
    @include slimmfont;
  }
}

.t-slimmfont\@s {
  @include screen-s {
  @include slimmfont;
  }
}

.t-slimmfont\@m {
  @include screen-m {
  @include slimmfont;
  }
}

.t-slimmfont\@l {
  @include screen-l {
  @include slimmfont;
  }
}

.t-slimmfont\@xl {
  @include screen-xl {
  @include slimmfont;
  }
}

.t-thinnfont\@xs {
  @include screen-xs {
  @include thinnfont;
  }
}

.t-thinnfont\@s {
  @include screen-s {
  @include thinnfont;
  }
}

.t-thinnfont\@m {
  @include screen-m {
  @include thinnfont;
  }
}

.t-thinnfont\@l {
  @include screen-l {
  @include thinnfont;
  }
}

.t-thinnfont\@xl {
  @include screen-xl {
    @include thinnfont;
  }
}

.t-giganticfont\@xs {
  @include screen-xs {
  @include giganticfont;
  }
}

.t-giganticfont\@s {
  @include screen-s {
  @include giganticfont;
  }
}

.t-giganticfont\@m {
  @include screen-m {
  @include giganticfont;
  }
}

.t-giganticfont\@l {
  @include screen-l {
  @include giganticfont;
  }
}

.t-giganticfont\@xl {
  @include screen-xl {
    @include giganticfont;
  }
}

.t-babyfont {
  @include babyfont;
}

body {
      font-family: $sans-serif;
      font-size: 1rem;
      line-height: 1.75;
  }

article h2 {
    font-family: $serif;
    font-weight: $light;
  }

  article p a {
    border-bottom: 1px solid $orange;
    color: $rust;
    text-decoration: none;
    :hover {
      border-bottom: 1px solid $pink;
    }
  }

  article li {
    list-style-type: "\276F";
    padding: 0 1em 0 0;
    }
  

  h5 {
    font-family: $serif;
    font-weight: $regular;
    font-size:1.25em;
  }

  p {
    color: $black;

  &.comingsoon {
      color: $mid-grey;
      text-transform: uppercase;
      font-size: .8em;
      letter-spacing: .05em;
      text-decoration: none;
      padding: 10px 0;
      margin-right: 2em;
      transition: all .2s ease-in;
    }
  }

  .details {
    text-transform: uppercase;
    font-size: .75em;
    color: $black;
    letter-spacing: .025em;
    padding-top: .5em;
    min-width: 100px;
  }

  .wip {
     font-style: italic;
     color: $mid-grey;
   }

.t-white {
    @include t-white;
}

.t-red {
  color: #E60073;
}

.t-black {
    @include t-black;
}

.t-light-grey {
  color: $light-grey;
}

.t-light-green {
  color: #bdf5bd;
}

.t-blush-pink {
  color: $blush-pink;
}

.t-link-accent-white {
    @include t-link-hover;
    @include bdr--white;
    line-height: $t-height-extra-loose;
    padding: 10px 0;
}

.t-link-accent-black {
  @include t-link-hover;
  @include bdr--black;
  padding: 2px 0;
}

.t-link-accent-green {
  @include t-link-hover;
  @include bdr--green;
  line-height: $t-height-extra-loose;
  padding: 2px 0;
}

.t-link-accent-orange {
  @include t-link-hover;
  @include bdr--orange;
  color: $rust;
  padding: 2px 0;
}

.t-ltr-stretch {
    @include t-uppercase;
    @include t-ltr-spaceout-s;
}

.t-link-accent-blue {
    @include t-link-hover;
    @include bdr--black;
    color: $primary-color;
    padding: 2px 0;
}

.t-link-accent-pink {
    @include t-link-hover;
    line-height: $t-height-loose;
    @include bdr--white;
    color: $pink;
    padding: 2px 0;
}

.t-eyebrow {
  @include t-eyebrow;
}

.t-titlingfont {
  font-family: $condensed;
  font-size: 1.25em;
  text-transform: uppercase;
  margin: .25rem;
}

code {
  background: $green;
  padding:  .5rem;
  color: $black;
  margin: .25rem;
}

.postlist {
  list-style: none;
  padding: 0;
}
.postlist-item {
  counter-increment: start-from -1;
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  // content: "" counter(start-from, decimal-leading-zero) ". ";
  line-height: 100%;
  text-align: right;
}

.postlist-date {
  word-spacing: -0.1px;
}
.postlist-link {
  display: inline-block;
  padding: 0.25em 0.1875em; /* 4px 3px /16 */
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}

// LISTS

  ul.linklist {
    @include list-clear-style;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    li {
    margin: 0 2rem 0 0;
    }

  }

  ul.medialist--tight {
    @include list-clear-style;

    li {
      margin: .75rem 0 0 0;
    }
  }

  ul.medialist--loose {
    @include list-clear-style;

    li {
      margin: 1rem 0 0 0;
    }
  }
  
  ul.longform {
    list-style-type: square;
    padding-bottom: .5rem;

    li {
      margin:  0 0 1rem 0;
    }
  }

  .direct-link {
    text-decoration: none;
    font-style: normal;
    margin-left: .1em;
    color: var(--color--secondary);
  }

  a[href].direct-link,
  a[href].direct-link:visited {
    color: transparent;
  }
  a[href].direct-link:focus,
  a[href].direct-link:focus:visited,
  :hover > a[href].direct-link,
  :hover > a[href].direct-link:visited {
    color: var(--color--accent);
  }

  //SYMBOLS

  a.right-arrow:after {
    content: "\2197";
  }