<<<<<<< HEAD
li.inline {
  display: inline;    
}

.clearspace {
  @include clearspace;
}

// EXPERIENCE //

  .clients {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto 24px; 

    img {
      display: inline-block;
      min-width: 150px;
      max-height: 150px;
      flex: 0 1;
      padding: 1em;
    }
  }

  // STAMPS

  .stamp {
    outline: 20px dotted $white;
    outline-offset: -10px;
    background: $light-grey;
    margin: 1em;
    position: relative;
  }

  .stub {
    display: flex;
    align-self: center;
    position: relative;
    width: 80%;
    margin: 2em 0;
    max-height: 15em;
    min-width: 250px;
    background:
    radial-gradient(circle at 0 100%, transparent 30px, $neon-yellow 30px),
    radial-gradient(circle at 100% 100%, transparent 30px, $neon-yellow 30px),
    radial-gradient(circle at 100% 0, transparent 30px, $neon-yellow 30px),
    radial-gradient(circle at 0 0, transparent 30px, $neon-yellow 30px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 51% 51%, 51% 51%, 51% 51%, 51% 51%;
    background-repeat: no-repeat;
  }

  .stub:hover {
    background: 
    radial-gradient(circle at 0 100%, transparent 30px, $green 30px),
    radial-gradient(circle at 100% 100%, transparent 30px, $green 30px),
    radial-gradient(circle at 100% 0, transparent 30px, $green 30px),
    radial-gradient(circle at 0 0, transparent 30px, $green 30px);
    background-position: bottom left, bottom right, top right, top left;
    background-size: 51% 51%, 51% 51%, 51% 51%, 51% 51%;
    background-repeat: no-repeat;
    // content: "tixx on sale";
  }

.stub-content {
=======
.flex--half {
>>>>>>> dca89e59e6a3ba90cf973263b647d7c5695d5e2e
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;

}

.flex--half--child {
  flex: 1;
  min-width: 15em;
}

#floating-hands {
  margin: 1em;
}

#spilled-glasses {
  margin: 1em auto;
  max-width: 20em;
}

.animate--float {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.clearspace {
  @include clearspace;
}

  #contact {
    background: $black;
  }
  
// ANIMATION //

@keyframes floating {
    from {
      transform:translate(0, 0px);
  }
    50% {
      transform:translate(0, -30px);
  }
    to {
      transform: translate(0, 0px);
  }
}