{% block content %}

<figure class="stamp stamp@m stamp@l stamp@xl grid-whole@xs grid-half@s grid-third@m grid-quarter@l grid-quarter@xl">
    <div class="stamp-date stamp--topright">
        <svg viewbox="0 0 100 100">
            <path d="M 0,50 a 32, 30 0 1, 1 0,1 z" id="stamp-ams"/>
            <text>
                <textpath href="#stamp-tor" aria-label="{{ post.data.eventCityName }}">
                    {{ post.data.eventCityName }}
                </textpath>
            </text>
        </svg>
    </div>
    <div class="calendar-item grid-whole@xs grid-half@s grid-third@m grid-quarter@l grid-quarter@xl">
        <p class="t-black details t-typeweight t-babyfont">{{ post.data.eventMonthYear }}</p>
        <p>
            <a href="{{ eventURL }}" rel="noreferrer noopener" class="t-black t-link-accent-black t-titlingfont t-thiccfont@xs t-thiccfont@s t-thiccfont@m t-thiccfont@l t-thiccfont@xl t-height-tight">{{ post.data.eventName }}</a>
        </p>
        <p>
            {% if post.data.eventSlidesURL %}<a class="details t-link-accent-blue" href="{{ post.data.eventSlidesURL }}" rel="noopener noreferrer">Slides</a>{% endif %}
        </p>
    </div>
</figure>

{% endblock %}