---
layout: layouts/base.njk
navClass: white
colorMode: dark
templateclass: content
---

{% for post in collections.event-past | reverse %}
  {% if loop.first %}<ul>{% endif %}
    <li>

      <article>
        <h3><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
      </article>

    </li>

  {% if loop.last %}</ul>{% endif %}
{% endfor %}