/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}
/// Background size helper
@mixin background-size($width, $height: $width) {
  @include prefix(background-size, $width $height, "webkit" "moz");
}

//DEVICES

// up to watch
@mixin screen-xxs {
  @media screen and (max-width: #{$screen-xxs-max}) {
    @content;
  }
}

// up to phone
@mixin screen-xs {
  @media screen and (min-width: #{$screen-xs-min}) and (max-width: #{$screen-xs-max}) {
    @content;
  }
}

// up to tablet
@mixin screen-s {
  @media screen and (min-width: #{$screen-s-min}) and (max-width: #{$screen-s-max}) {
    @content;
  }
}

// up to laptop
@mixin screen-m {
  @media screen and (min-width: #{$screen-m-min}) and (max-width: #{$screen-m-max}) {
    @content;
  }
}

// up to desktop
@mixin screen-l {
  @media screen and (min-width: #{$screen-l-min}) and (max-width: #{$screen-l-max}) {
    @content;
  }
}

// up to giant monitors
@mixin screen-xl {
  @media screen and (min-width: #{$screen-xl-min}) {
    @content;
  }
}

//SPACING

@mixin clearspace() {
  margin: 0;
  padding: 0;
}

@mixin thiccpadding() {
  padding: $thicc;
}

@mixin thinnpadding() {
  padding: $thinn;
}

@mixin normiepadding() {
  padding: $normie;
}

@mixin padding-btm-none() {
  padding-bottom: 0;
}

@mixin margin-bottom-thinn() {
  margin-bottom: $thinn;
}

@mixin align-self-center() {
  align-self: center;
}

@mixin align-self-end() {
  align-self: end;
}

@mixin height-full() {
  height: 100%;
}

//TYPOGRAPHY

// Size

@mixin babyfont() {
  font-size: $baby;
}

@mixin thinnfont() {
  font-size: $thinn;
}

@mixin slimmfont() {
  font-size: $slimm;
}

@mixin normiefont() {
  font-size: $normie;
}

@mixin fullfont() {
  font-size: $full;
}

@mixin thiccfont() {
  font-size: $thicc;
}

@mixin chonkfont() {
  font-size: $chonk;
}

@mixin ultrachonkfont() {
  font-size: $ultrachonk;
}

@mixin giganticfont() {
  font-size: $gigantic;
}

@mixin serif() {
  font-family: $serif;
}

@mixin typewriter() {
  font-family: Courier, monospace;
}

@mixin sansserif() {
  font-family: $sans-serif;
  font-weight: $light;
}

@mixin serifweight() {
  @include serif;
  font-weight: $light;
}

@mixin t-white() {
  color: $white;
}

@mixin t-black() {
  color: $black;
}

@mixin t-uppercase() {
  text-transform: uppercase;
}

@mixin t-ltr-spaceout-s() {
  letter-spacing: 0.05em;
}

@mixin t-ltr-spaceout-m() {
  letter-spacing: 0.15em;
}

@mixin t-eyebrow {
  @include babyfont;
  @include t-uppercase;
  @include t-ltr-spaceout-m;
  font-family: $sans-serif-bold;
}

@mixin list-clear-style() {
  list-style: none outside;
  padding: 0;
}

@mixin inline-style() {
  display: inline;
}

//GRID based on a 12-col

@mixin grid-quarter() {
  grid-column: span 3;
}

@mixin grid-third() {
  grid-column: span 4;
}

@mixin grid-half() {
  grid-column: span 6;
}

@mixin grid-twothirds() {
  grid-column: span 8;
}

@mixin grid-whole() {
  grid-column: span 12;
}

@mixin grid-quarter-in-third-r-r() {
  grid-column: 8 / span 4;
}

@mixin align-self-r() {
  justify-self: end;
}

// BORDER

@mixin bdr--blue() {
  border-bottom: 1px solid $cobalt;
  @include txn-ease-in-quick;
}

@mixin bdr--white() {
  border-bottom: 1px solid $white;
}

@mixin bdr--black() {
  border-bottom: 1px solid $black;
  @include txn-ease-in-quick;
}

@mixin bdr--green() {
  border-bottom: 1px solid $green;
  @include txn-ease-in-quick;
}

@mixin bdr--orange() {
  border-bottom: 1px solid $orange;
  @include txn-ease-in-quick;
}

@mixin bdr--green() {
  border-bottom: 1px solid $green;
  @include txn-ease-in-quick;
}

@mixin bdr--green--hover() {
  border-bottom: 18px solid $green;
  @include txn-ease-in-quick;
}

@mixin bdr--pink() {
  border-bottom: 1px solid $pink;
  @include txn-ease-in-quick;
}

@mixin out--pink() {
  outline: 0.25em ridge $pink;
}

@mixin out--rust() {
  outline: 0.25em ridge $rust;
}

@mixin out--yellow() {
  outline: 0.5em ridge $yellow;
}

@mixin out--black() {
  outline: 0.5em ridge $black;
}

@mixin out--blue() {
  outline: 0.5em ridge $cobalt;
}

@mixin out--green() {
  outline: 0.25em ridge $green;
}

@mixin bdr--orange() {
  border-bottom: 1px solid $orange;
  @include txn-ease-in-quick;
}

@mixin t-link-hover() {
  border-bottom: 1px solid $pink;
  @include txn-ease-in-quick;
}

// TRANSITIONS
@mixin txn-ease-in-quick() {
  transition: border 0.2s ease-in;
}

// ZIG ZAG BASE
@mixin zigzag-base() {
  height: 5em;
}
