// SCREEN SIZES
$screen-xs-min: 200px;
$screen-s-min: 600px;
$screen-m-min: 1024px;
$screen-l-min: 1440px;
$screen-xl-min: 1920px;

$screen-xxs-max: 199px;
$screen-xs-max: 599px;
$screen-s-max: 1023px;
$screen-m-max: 1439px;
$screen-l-max: 3000px;

// COLORS //
:root {
    font-size: calc(22px + .05vw);
}

$cobalt: #0e4bff;
$citron: #F3F315;

$black: #222222;
$white: #ffffff;
$beige: #F5F4EE;

$dark-grey: #4F4F4F;
$mid-grey: #767676; // the lightest shade of grey you can get away with, #a11y
$light-grey: #eeeeee; // for backgrounds only

$fuchsia: #B2098B;
$neon-yellow: #f3f315;
$yellow: #FFD926;
$red: #FF5327;
$pink: #FF0DD1;
$blush-pink: #FFF3F3;
$true-blue: #0531B2; 
$royal-blue: #2159FE;
$baby-blue: #DAE3FF;
$gold: #FFBC0E;
$orange: #ff5327;
$rust: #942f00;

//greens
$green: #42ff0d;
$leaf-green: #27B300;
$teal-green: #037A5C;
$emerald-green: #004328;

//yellows
$curry: #cbab00;
$dark-curry: #a88d00;
$ochre: #ece2ce;
$dusty-rose: #cbab99;
$pale-peach: #ffe0d1;

$primary-color: $cobalt;
$secondary-color: $blush-pink;

// TYPOGRAPHY //
$sans-serif: 'calibre-web-regular', Helvetica, sans-serif;
$sans-serif-bold: 'calibre-web-bold', 'Arial Black', sans-serif;
$serif: 'domaine-text-web-light', Georgia, 'Times New Roman', serif;
$condensed: 'calibre-web-bold', Impact, sans-serif;
$mono: Courier, mono;

$t-height-none: 0;
$t-height-dense: .9;
$t-height-tight: 1.1;
$t-height-cozy: 1.25;
$t-height-loose: 2;
$t-height-extra-loose: 3;

$thin: 200;
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;

// SIZE //

$baby: .8em;
$thinn: 1em;
$slimm: 1.25em;
$normie: 1.5em;
$full: 2em;
$thicc: 2.25em;
$chonk: 3em;
$ultrachonk: 5em;
$gigantic: 10em;
$bg-repeat: repeat-x 5em 5em ;