#skip a {
  display: block;
  position: absolute;
  z-index: 9999;
  left: 1em;
  top: 1em;
  transform: translateY(calc(-100% - 1em));
  padding: 1em;
  color: $white;
  text-decoration: none;
  background: $black;
  border: 1px $pink;
}

#skip a:focus-visible{
  transform: translateY(0);
  transition: all .2s ease-in-out;
  outline: 1px solid $pink;                   
  }

.site-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 0 0 .25rem 0;
  @include screen-xs {
    align-items: flex-start;
  }  
}

.logo {
  display: block;
  margin: 1em 2em 0 0;
  min-width: 40px;
  max-width: 50px;
  @include screen-xs {
    margin: 1em 1em 0 0;
  }  

  #logo {
    fill: $pink;
  }

  a {
  border-bottom: none;
  &:focus-visible { 
    @include out--yellow;
  }
	}
}

.dark {
  color: $black;
    @include t-ltr-spaceout-s;
    @include t-uppercase;
    @include bdr--pink;
    text-decoration: none;
    font-size: .85rem;
    font-family: $sans-serif-accent;
    padding: .3rem 0;

    &:hover {
      @include bdr--white;
    }

    &:focus-visible {
      @include out--blue;
    }

}

.light {
    color: $white;
    @include t-ltr-spaceout-s;
    @include t-uppercase;
    @include bdr--pink;
    text-decoration: none;
    font-size: .85rem;
    font-family: $sans-serif-accent;
    padding: .3rem 0;
    &:hover {
      @include bdr--white;
    }

    &:focus-visible{
      @include out--yellow;
    }
  }