#skip a {
  display: block;
  position: absolute;
  z-index: 9999;
  left: 1em;
  top: 1em;

  transform: translateY(calc(-100% - 1em));

  padding: 1em;
  color: $white;
  text-decoration: none;
  background: $black;
  border: 1px $pink;

}

#skip a:focus {
  transform: translateY(0);
  transition: all .2s ease-in-out;
  }

.site-header {
  // align-items: center;
  // // display: flex;
  // flex-direction: row;
  background: pink;
}

.outline-me {
  outline: 1px solid $red;
}

.logo {
  fill: $pink;
  display: block;
  margin: 1em 2em 0 0;
  min-width: 40px;
  max-width: 50px;

  a {
  border-bottom: none;
	}
}

.main-navigation {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  opacity: 1;
  transition: opacity 200ms ease-out;

  li {
    text-align: center;
    margin: .35em auto;
  }

  a {
    @include t-uppercase;
    @include bdr-thinn-white;
    @include t-link-hover;
    text-decoration: none;
    font-size: .85em;
    padding: .3em 0;
  }
  
}

.dark {
  color: $black;
}

.light {
  color: $white;
}