---
title: engineer, writer, speaker 
layout: layouts/base.njk
templateClass: content
navClass: bg-black
bgColor: black
eleventyExcludeFromCollections: true
colorMode: light
canonical: https://www.tatianamac.com
---
<section class="container grid--half bg-black" id="hero">
    <header class="t-white">
        <h1 class="t-ultrachonkfont@xl t-ultrachonkfont@l t-chonkfont@m t-chonkfont@s t-chonk@xs t-normiefont@xxs t-height-tight t-serifweight">American engineer<span class="t-light-green">*</span> building accessible, performant products with ethics-centred practices and people-informed systems.</h1>
    </header>
    <aside class="flex--half align-self-end">
      <span class="t-chonkfont@xl t-white t-serifweight t-light-green">*</span>
      <p class="t-light-grey t-typeweight t-thinnfont@xl t-thinnfont@l t-thinnfont@m t-thinnfont@s t-thinnfont@xs t-thinnfont@xxs t-height-loose padding-thinn">international keynote speaker<br/>ex-designer<br/>trained journalist<br/>theoretical mathematician<br/>tech misanthropologist</p>
    </aside>
</section>