---
title: engineer, writer, speaker
layout: layouts/base.njk
templateClass: content
navClass: bg-black
bgColor: black
eleventyExcludeFromCollections: true
colorMode: light
canonical: https://www.tatianamac.com
---
<section class="container grid--half bg-black" id="hero">
  <div class="t-white">
    <h1 class="t-ultrachonkfont@xl t-ultrachonkfont@l t-chonkfont@m t-chonkfont@s t-chonk@xs t-normiefont@xxs t-height-tight t-serifweight">Tatiana Mac</span>
      is a writer, speaker, and engineer building accessible, performant, and supported products.</h1>
  </div>
  </section>
