@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins',
  'abstracts/mediaqueries';

// 2. Vendors
@import
  'vendor/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/helpers',
  'base/typography';

// 4. Layout-related sections
@import
  'layout/grid',
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/button',
  'components/images',
  'components/zigzag';

// 6. Page-specific styles
@import
  'pages/about',
  'pages/home',
  'pages/writing',
  'pages/speaking';

// 7. Themes
@import
  'themes/default';