<!doctype html>
<html lang="en">

  {% include "_head.njk" %}

  <body>
    <div id="skip">
        <a href="#content">Skip Content</a>
    </div>
    <div{% if navClass %} class="{{ navClass }}{% endif %} container">
    {% include "_header.njk" %}
    </div>
    <main class="{% if templateClass %}{{ templateClass }}{% endif %} {% if bgColor %} bg-{{ bgColor }} {% endif %}" id="content">
        {{ content | safe }}
     </main>

    
    <div class="container clearspace">
        <div class="zigzag-{% if bgColor %}{{ bgColor }}{% endif %}-green">
        </div>
        <div class="zigzag-green-fuschia">
        </div>
    </div>

  {% include "_footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
