<!doctype html>
<html lang="en">

  {% include "_head.njk" %}

  <body>
    <div id="skip">
        <a href="#content">Skip Content</a>
    </div>
    <div {% if navClass %} class="{{ navClass }}{% endif %} container">
    {% include "_header.njk" %}
    </div>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %} id="content">
        {{ content | safe }}
     </main>

    
    <div class="container clearspace">
        <div class="zigzag-lt-grey-green">
        </div>
        <div class="zigzag-green-fuschia">
        </div>
    </div>

  {% include "_footer.njk" %}

    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>
