---
layout: layouts/base.njk
templateClass: content
navClass: bg-primary
bgColor: blushpink
eleventyExcludeFromCollections: true
---

<section class="wrapper container padding-btm-none bg-primary" id="hero">
<div class="grid-whole@xxs grid-whole@xs grid-half@s grid-half@m grid-half@l grid-half@xl t-white">
    <h1 class="t-serifweight t-thiccfont@xl t-thiccfont@l t-thiccfont@m t-normiefont@s t-normiefont@xs t-thinnfont@xxs t-height-tight">Tatiana Mac is an American designer who builds inclusive, accessible, and ethical products with thoughtful practices.</h1>
    <p class="t-white t-typeweight t-thinnfont@xl t-thinnfont@l t-thinnfont@m t-thinnfont@s t-thinnfont@xs t-thinnfont@xxs t-height-tight">A designer who codes.
        <br/> A writer who reads.
        <br/>A speaker who listens.</p>
</div>
<div class="grid-whole@xxs grid-whole@xs grid-half@s grid-half@m grid-half@l grid-halfd@xl padding-thinn@xs padding-thinn@s padding-thicc@m padding-thicc@l padding-thicc@xl">
    <img class="floating" src="img/hands.svg" alt="Two hands forming a circle with a triangle in between." />
</div>
</section>
<!-- hero -->
<div class="container clearspace">
    <div class="zigzag-blue-yellow">
    </div>
    <div class="zigzag-yellow-white">
    </div>
</div>

{% include "_writing.njk" %}


{# </main> #}