---
layout: layouts/base.njk
templateClass: content
navClass: white
colorMode: dark
templateclass: content
---

<div class="wrapper container">
<section class="grid-whole@xxs grid-whole@xs grid-whole@s grid-third@m grid-third@l grid-third@xl ">
        <p class="t-eyebrow-line t-typeweight">{{ date }}</p>
        <h1 class="t-titlingfont t-extrajumbo t-height-dense">{{ title }}</h1>
</section>

    <article class="grid-whole@xxs grid-whole@xs grid-whole@s grid-twothirds@m grid-twothirds@l grid-twothirds@xl padding-thicc@l padding-thicc@m padding-thicc@s">

    {{ content | safe }}
    </article>
</div>